<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_3.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <h3>Click on employee name to more details</h3>
                <div class="name__employee">
                    <p>Nguyễn Văn A</p>
                </div>
                <div class="info__employee">
                    <p>Ngày : </p>
                    <p>Giờ bắt đầu: </p>
                    <p>Giờ kết thúc: </p>
                    <p>Nơi làm việc: </p>
                    <p>Số giờ được tính làm thêm: </p>
                    <p>Số ngày nghĩ đăng ký: </p>
                    <p>Tổng số giờ đã làm trong lần kết thúc này: </p>
                    <p>Tổng số giờ đã làm theo ngày: </p>
                    <p>Lương tháng: </p>
                </div>
            </main>
            <script src="../js/mh_3.js"></script>
            <%- include('./end.ejs') %>