<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_2.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <div style="text-align:center;">
                    <h4>Cảm ơn đả đăng ký thông tin</h4>
                </div>
            </main>
            <%- include('./end.ejs') %>