<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_5.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <form method="post" action="/manager">
                    <div class="container">
                        <h4>Manager Name: </h4>
                        <p>List employee:</p>
                        <div class="emp__box">
                            <p>name employee here</p>
                            <img src="https://nypost.com/wp-content/uploads/sites/2/2020/12/yael-most-beautiful-video.jpg?quality=90&strip=all"
                                alt="empImg">
                            <button type=sumbit class="btn">Detail</button>
                        </div>
                    </div>
                </form>
            </main>
            <%- include('./end.ejs') %>