<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_5.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <h4>Error</h4>
                <h2>This site for Manager Only</h2>
            </main>
            <%- include('./end.ejs') %>