<%- include('./head.ejs') %>
    <link rel="stylesheet" href="../css/mh_5.css">
    </head>

    <body>
        <%- include('./navigation.ejs') %>
            <main>
                <form method="POST" action="/manager">
                    <div class="form__control">
                        <p>Name Employee:</p>

                        <p>Ngày:</p>
                        <p>Số giờ được tính làm thêm:</p>
                        <p>Số ngày nghĩ đăng ký:</p>
                        <p>Thời gian bắt đầu:</p>
                        <p>Thời gian kết thúc:</p>
                        <a href="/manager" class="btn">Xoá giờ kết thúc</a>
                        <p>Tổng số giờ đã làm tháng: </p>
                        <p>Lương tháng:</p>
                        <label name="pickmonth" for="pickmonth">Chọn tháng</label>
                        <select id="pickmonth" name="pickmonth">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <button type="subbmit" class="btn">Xem tháng</button>
                    </div>
                </form>
            </main>
            <%- include('./end.ejs') %>