.container {
    display:grid;
    justify-content:center;
    align-items:center;
}
.emp__box{
    border:1px solid;
    border-radius:20px;
    width:300px !important;
    height:400px !important;
    text-align: center !important;
    justify-content:center;
    align-items:center;
}
.emp__box img {
    width:300px !important;
    height:300px !important;
    object-fit:fill;
    border-radius: 20px;
}